# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Elastic_Stack/kibana/x-pack/plugins/reporting/chromium/chrome-win/interactive_ui_tests.exe
Elastic_Stack/kibana/x-pack/plugins/reporting/chromium/chrome-win/chrome.dll
